:root {
  --main-color: #e94057;
  --secondary-color: #23272b;
  --primary-text-color: #fff;
  --pane-padding: 5px 42px;
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.button-primary {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  border: 0.2px solid var(--primary-text-color);
  margin: 0 20px;
  width: 200px;
}

.button-secondary {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  width: 90%;
  height: 40px;
  text-align: center;
}

.button-text-center {
  text-align: center;
  color: var(--main-color);
  font-weight: 100;
}

.button-primary,
.button-secondary,
.button-link {
  font-weight: bold;
  padding: 18px 20px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.button-link {
  text-decoration: none;
  color: var(--primary-text-color);
  width: 160px;
  height: 18px;
  border: 1px solid var(--primary-text-color);
}

.button-link:hover {
  text-decoration: none;
  background-color: var(--primary-text-color);
  color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .hero-content-button {
    margin-top: 0;
    justify-content: center;
  }
}

.button-primary:hover {
  background-color: var(--primary-text-color);
  color: var(--secondary-color);
}

.button-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}

.icon-button {
  margin-right: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  color: var(--primary-text-color);
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.nav-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 20px;
  }
}

.nav-link a {
  padding: 0 20px;
  font-family: monospace;
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: 0.5s;
}
.nav-link a:hover {
  color: var(--secondary-color);
}

.nav-header {
  font-weight: bolder;
  font-size: 30px;
  font-family: var(--main-font);
}

.nav-logo {
  height: 50px;
  width: 50px;
}

.description {
  width: 100%;
  font-weight: 100;
  font-size: 30px;
  text-align: justify;
}

.description-header h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 300;
}

.description-container {
  width: 100%;
  margin-top: 15%;
}

@media only screen and (max-width: 600px) {
  .description {
    font-size: 20px;
  }
  .description-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description-header h1 {
    font-size: 70px;
  }
}

.banner {
  background-image: url('../../assets/reskyut-banner-bg.png');
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
}

.paws-bg {
  position: absolute;
  width: 100%;
  opacity: 20%;
  bottom: 100px;
}

.hero-desc {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 1;
}

.hero-content {
  color: var(--primary-text-color);
  display: flex;
  margin-top: 12vh;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .hero-content {
    width: 90%;
  }
}

.hero-content-button {
  z-index: 1;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-prev-img {
  margin-top: 13vh;
}

@media only screen and (max-width: 600px) {
  .hero-content-button {
    justify-content: center;
  }
  .hero-prev-img {
    margin-top: 150px;
    height: 500px;
  }
}

.hero-content,
.hero-prev-container {
  padding: 0 20px;
  z-index: 1;
}

.page-content-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-header {
  font-size: 5rem;
  transition: 0.4s;
}

.content {
  width: 100%;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}

.page-content {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  transition: 0.2s;
  /* flex-wrap: wrap-reverse; */
}

.page-content:hover {
  color: var(--main-color);
}

@media only screen and (max-width: 600px) {
  .content-header {
    font-size: 3rem;
  }
  .content {
    font-size: 2rem;
  }
}

.cards {
  text-align: center;
  transition: 0.2s;
}

.cards-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.cards-icon {
  height: 50px;
}

.cards-title {
  font-weight: bolder;
  font-size: 3rem;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    flex-direction: column;
    justify-content: center;
  }

  .cards-icon {
    height: 50px;
  }
}

.paddingLeftRight {
  padding: 0 20px;
  margin: 50px;
}

.footer-container {
  transform: scaleY(-1);
  background-image: url('../../assets/reskyut-banner-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

.footer-content-container {
  transform: scaleY(-1);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scaleY(-1);
  position: relative;
  justify-content: space-around;
  opacity: 100%;
}

.footer-content-container:before {
  background-image: url('../../assets/reskyut-paws-bg.png');
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.qr {
  padding: 20px;
  transition: 0.4s;
  z-index: 1;
}

.qr:hover {
  transform: scale(1.07);
}

.qr img {
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-text-color);
  border-radius: 20px;
  padding: 10px;
}

.qr h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary-text-color);
  text-align: center;
}

.footer-contacts-info {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.contact-container {
  color: var(--primary-text-color);
}

.contact-header {
  text-align: center;
  margin: 0;
  font-weight: 200;
  font-size: 5rem;
}

@media only screen and (max-width: 600px) {
  .footer-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-header {
    font-size: 3rem;
  }
  .qr {
    bottom: 10vh;
  }
  .footer-container {
    overflow: visible;
  }

  .footer-contacts-info {
    display: flex;
    flex-direction: column;
  }
  .contact-container {
    width: 100%;
    margin: 0 20px;
  }
}

.form-container {
  width: 50vw;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  outline: none;
  width: 90%;
}

.form-label {
  font-size: 2rem;
  display: block;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 80vw;
  }
}

.rules {
  position: absolute;
  top: 20px;
  left: 50px;
  transform: scaleY(-1);
  background: none;
  display: flex;
  font-size: 15px;
  z-index: 1;
}
.rules a {
  text-decoration: none;
  color: var(--primary-text-color);
  margin: 0 10px;
  transition: 0.4s;
}

.rules a:hover {
  color: var(--secondary-color);
}

.rules-nav-container {
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
}

.rules-nav-container:before {
  content: '';
  background-image: url('../../assets/reskyut-paws-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-position: 50% 0;
}

.rules-nav-container h1 {
  object-fit: cover;
  margin: 0;
  padding: 30px;
  font-weight: 100;
  font-size: 4rem;
  color: var(--primary-text-color);
  z-index: 1;
}
h1 a {
  color: var(--primary-text-color);
  z-index: 9999;
}

.rules-page-name {
  position: relative;
}

.underline {
  background-color: var(--primary-text-color);
  height: 4px;
  width: 130px;
  bottom: 17px;
  right: 35px;
  position: absolute;
}

h1 {
  font-size: 40px;
}
h2 {
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 0;
}
h3 {
  font-size: 20px;
  font-weight: 100;
}

.bold {
  font-weight: 700;
  margin-top: 20px;
}

.rules-container {
  margin: 50px 200px;
  z-index: 9999;
}

.center {
  text-align: center;
}

.rules-container a {
  text-decoration: underline;
  margin-left: 5px;
  z-index: 999;
}

@media only screen and (max-width: 600px) {
  .rules-container {
    margin: 20px;
  }
}
